[bumpversion]
current_version = 0.1.0
commit = True
tag = True
message = bump version: {current_version} -> {new_version}

[bumpversion:file:src/dnsmasq_as_blocker/__init__.py]
search = __VERSION__ = "{current_version}"
replace = __VERSION__ = "{new_version}"
